body {
    background-color: #E6DEDE;
}

#web-name-div {
    display: flex;
    justify-content: center;
    width: 60vw;
}

#title img {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

#save-btn {
    color: blue;
}

#filter-menu-top {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    margin-top: 5px;
    background-color: none;
    color: black;
}

.filter-option {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style-type: square;
}

.filter-option.selected {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

.dropdown-arrow-div {
    display: flex;
    justify-content: start;
    height: 40px;
}

.dropdown-arrow-div img {
    width: 30px;
    height: 32px;
}
